//Colors
$colorBlack: #000;
$colorWhite: #fff;
$colorOrange: #F15525;
$colorDeepBlue: #22253B;
$colorDarkBlue: #4B77B9;
$colorBlue: #5096FF;
$colorLightBlue: #38BFF2;
$colorGreen: #4BD071;
$colorPurpule: #AF93FF;

//Font size
$FontSize13: 13px;
$FontSize30: 30px;
$FontSize46: 46px;

//Font weight
$FontWeight400: 400;
$FontWeight500: 500;

//Font line-height
$FontLineHeight100: 100%;
$FontLineHeight104: 104.4%;